<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://JAVA.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Project1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CheckEmployeeLoginServlet</display-name>
    <servlet-name>CheckEmployeeLoginServlet</servlet-name>
    <servlet-class>com.CheckEmployeeLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckEmployeeLoginServlet</servlet-name>
    <url-pattern>/check</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateEmployee</display-name>
    <servlet-name>UpdateEmployee</servlet-name>
    <servlet-class>com.UpdateEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateEmployee</servlet-name>
    <url-pattern>/updateEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReimbursementClaims</display-name>
    <servlet-name>ReimbursementClaims</servlet-name>
    <servlet-class>com.ReimbursementClaims</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReimbursementClaims</servlet-name>
    <url-pattern>/reimbursementClaims</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateClaim</display-name>
    <servlet-name>CreateClaim</servlet-name>
    <servlet-class>com.CreateClaim</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateClaim</servlet-name>
    <url-pattern>/createClaim</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllPendingClaims</display-name>
    <servlet-name>AllPendingClaims</servlet-name>
    <servlet-class>com.AllPendingClaims</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllPendingClaims</servlet-name>
    <url-pattern>/allPendingClaims</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllApprovedClaims</display-name>
    <servlet-name>AllApprovedClaims</servlet-name>
    <servlet-class>com.AllApprovedClaims</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllApprovedClaims</servlet-name>
    <url-pattern>/allApprovedClaims</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllEmployees</display-name>
    <servlet-name>AllEmployees</servlet-name>
    <servlet-class>com.AllEmployees</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllEmployees</servlet-name>
    <url-pattern>/allEmployees</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApproveClaim</display-name>
    <servlet-name>ApproveClaim</servlet-name>
    <servlet-class>com.ApproveClaim</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApproveClaim</servlet-name>
    <url-pattern>/approveClaim</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DenyClaim</display-name>
    <servlet-name>DenyClaim</servlet-name>
    <servlet-class>com.DenyClaim</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DenyClaim</servlet-name>
    <url-pattern>/denyClaim</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClaimByEmployeeNo</display-name>
    <servlet-name>ClaimByEmployeeNo</servlet-name>
    <servlet-class>com.ClaimByEmployeeNo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClaimByEmployeeNo</servlet-name>
    <url-pattern>/claimByEmployeeNo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewEmployee</display-name>
    <servlet-name>NewEmployee</servlet-name>
    <servlet-class>com.NewEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewEmployee</servlet-name>
    <url-pattern>/newEmployee</url-pattern>
  </servlet-mapping>
</web-app>